form {
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg)
}
h1{
    color: tomato;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: whitesmoke;
}